.imagen-seleccion {
  width: 100%;
  height: auto;
}

.boton-grande {
  font-size: 72px;
}

.bar .button, .bar button.boton-grande {
  font-size: 60px;
  width: 80px;
}

.bar .button .icono-grande::before {
  font-size: 60px;
}
