<ion-header-bar class="bar bar-light" align-title="center">
  <h1 class="title">Menú</h1>
</ion-header-bar>
<ion-content class="principal">
  <div class="row">
    <button class="button button-balanced col col-25 col-offset-25 boton-alto boton-grande" ng-click="vm.cobrar()">
      <span class="ion-plus-round"></span>
    </button>
  </div>
  <div class="row">
    <button class="button button-positive col col-25 col-offset-25 boton-alto boton-grande"  ng-click="vm.cobrar()">
      <span class="ion-social-usd"></span>
    </button>
    <button class="button button-assertive col col-25 boton-alto boton-grande" ng-click="vm.abrirCaja()">
      <span class="ion-key"></span>
    </button>
  </div>
</ion-content>
