.principal.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}

.principal .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.principal .boton-alto {
  height: 200px;
}
