<ion-header-bar class="bar bar-stable" align-title="center">
  <div class="title">Menú Principal</div>
</ion-header-bar>
<ion-content class="principal">
  <div class="row">
    <button class="button button-balanced col col-50 col-offset-25 boton-alto boton-grande" ng-click="vm.vender()">
      <span class="ion-plus-round"></span>
    </button>
  </div>
</ion-content>
<ion-footer-bar align-title="center" class="bar-stable">
  <button class="button ion-social-usd boton-grande"  ng-click="vm.modificarCaja()"></button>
  <button class="button ion-edit boton-grande"  ng-click="vm.modificarPrecioProducto()"></button>
  <div class="title">Brisas de Cambio</div>
  <button class="button ion-plus-circled boton-grande" ng-click="vm.agregarProducto()"></button>
  <button class="button ion-key boton-grande" ng-click="vm.cerrarCaja()"></button>
</ion-footer-bar>
