<ion-content ng-controller="SeleccionarProductosCtrl as vm">
  <div class="row row-top">
    <ion-scroll zooming="true" direction="xy" style="width: 100%; height: auto">
      <button class="button button-light" ng-repeat="producto in vm.productos">
        <img src="{{producto.imagen}}" alt="" class="imagen-seleccion" ng-click="vm.agregarProducto()"/>
      </button>
    </ion-scroll>
  </div>
  <div class="row row-center">
    <div class="col"></div>
    <div class="col col-50">
      <button class="button button-full button-assertive" ng-click="finDeRecepcion()">
        Salir
      </button>
    </div>
    <div class="col"></div>
  </div>
</ion-content>
