<ion-header-bar class="bar-positive" align-title="center">
  <h1 class="title">Revisión de Precios</h1>
</ion-header-bar>
<ion-view>
    <ion-content>
    <ion-list>
        <ion-item ng-repeat="producto in vm.productos">
            <div class="row">
                <div class="col-33">
                    <img ng-src="{{producto.imagen}}" width="300px">
                </div>
                <div class="col col-center">
                    <label class="item item-input">
                        <input ng-model="producto.precio" type="number" placeholder=" " min="0" style="height: 80px; font-size: 60px;">
                    </label>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>
<ion-footer-bar class="bar-positive">
  <h1 class="title"></h1>
  <div class="buttons">
    <button class="button boton-grande ion-checkmark-round" ng-click="vm.actualizarProductos()"></button>
  </div>
</ion-footer-bar>
