<ion-header-bar class="bar-positive">
  <h1 class="title">Vuelto a entregar</h1>
</ion-header-bar>
<ion-view>
  <ion-content class="text-center">
    <span ng-repeat="vuelto in vm.vuelto">
      <img ng-class="{moneda:vuelto.esMoneda, billete: !vuelto.esMoneda}" class="img-responsive grande" ng-src="{{vuelto.imagen}}">
    </span>
  </ion-content>
</ion-view>
<ion-footer-bar class="bar-positive">
  <h1 class="title"></h1>
  <button class="button boton-grande ion-checkmark-round" ng-click="vm.finDeVenta()"></button>
</ion-footer-bar>
