<ion-header-bar class="bar-positive">
  <h1 class="title">Cierre de Caja</h1>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="row row-center" style="text-align:center; height:auto; width:auto; margin-left: auto; margin-right: auto;">
          <ion-list>
              <ion-item ng-repeat="dinero in vm.dinero">
                  <div class="row">
                      <div class="col">
                        <img ng-src="{{dinero.dinero.imagen}}" ng-class="{'moneda-cierre':dinero.dinero.esMoneda, 'billete-cierre': !dinero.dinero.esMoneda}">
                      </div>
                      <div class="col col-center" style="font-size: 50px; margin-left:70px;">
                          {{ dinero.cantidad }}
                      </div>
                  </div>
              </ion-item>
          </ion-list>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar class="bar-positive">
  <h1 class="title">Total {{ vm.total()|currency }}</h1>
  <div class="buttons">
    <button class="button boton-grande ion-checkmark-round" ng-click="vm.popupConfirmarCierre()"></button>
  </div>
</ion-footer-bar>
